body {
    background-color:#ffffff;
}

.box{
    margin:0 auto;
    width: 50em;
}

.tabsStyle {
    :global .am-tabs-tab {
    width: 5rem !important;
  }
}

.Tab{
    margin:0 auto;
    margin-top: 5em;
    width: 40em;
    height: 50em;
    font-size: large;
    
}

.Tabbox{
    margin:0 auto;
    width: 50em;
    height: 50em;
    font-size: large;
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
    width: 15em !important;
    font-size: larger;
}

.username{
    margin:0 auto;
    margin-top: 5em;
    margin-left: -8em;
    width: 50em;
}

.password{
    margin:0 auto;
    margin-top: 1em;
    margin-left: -8em;
    width: 50em;
}

.remember{
    margin:0 auto;
    margin-top: 1em;
    margin-left: -20em;
}

.submit{
    margin:0 auto;
    margin-top: 1em;
    margin-left: -13em;
    width: 10em;
}

.email{
    margin:0 auto;
    margin-top: 1em;
    margin-left: -3em;
    width: 40em;
}

.firstpass{
    margin:0 auto;
    margin-top: 1em;
    margin-left: -3em;
    width: 40em;
}

.conpass{
    margin:0 auto;
    margin-top: 1em;
    margin-left: -3em;
    width: 40em;
}

.user{
    margin:0 auto;
    margin-top: 1em;
    margin-left: 3.7em;
    width: 20em;
}

.prov{
    margin:0 auto;
    margin-top: 1em;
    margin-left: 3.7em;
    width: 20em;
}

.pn{
    margin:0 auto;
    margin-top: 1em;
    margin-left: 0.3em;
    width: 30em;
}

.addres{
    margin:0 auto;
    margin-top: 1em;
    margin-left: -3em;
    width: 40em;
}

.agreebox{
    margin:0 auto;
    margin-top: 1em;
    margin-left: -3em;
    width: 40em;
}

.register{
    margin:0 auto;
    margin-top: 1em;
    margin-left: -3em;
    width: 40em;
}

.postcode{
    margin:0 auto;
    margin-top: 1em;
    margin-left: 3.7em;
    width: 20em;
}