// .nvbar{
//     background:#0084ff;
// }

.logo{
    width: 8em;
    height: 4em;
    margin-left: 12em;
    float: left;
}

.search{
    width: 30em;
    height: 3em;
    float: left;
    margin-top: 0.5em;
    // margin-left: 5em;
    
}

.provinces{
    float: left;
    // margin-left: 30em;
    margin-top: 0.5em;
    height: 2.8em;
    width: 5em;
    margin-left: 25em;
    
}

.LoginUserName{
    width: 17em;
    margin-left: 2em;
}

.LoginandSignUp{
    float: left;
    margin-top: 0.75em;
    margin-left: 4em;
}

.cart{
    float: left;
    margin-top: 0.5em;
    margin-left: 2em;
    font-size: large;
    font-weight: bold;
}

.dropdown{
    margin-left: -1em;
}

.button1{
    width: 8em;
    margin-left: 1.5em;
}

.text1{
    color: white !important;
    font-family: Garamond;
    margin-top: 0.4em;
    font-size: 1.5em;
}

.SelectBar{
    float: left;
    width: 100%;
    // margin-top: 2em;
    // background-color: blue;
}

.nvbar{
    background-color: rgb(0, 140, 255);
}

.rightbar{
    float: right;
    margin-right: 6em;
}

.department{
    background-color: rgb(32, 84, 255);
    color: white !important;
    float: left;
    margin-left: 5em;
    font-size: 1.5em;
    font-weight: bold;
    // margin-left: -30em;
    width: 10.1em;
    height: 2.75em;
}

.Home{
    width: 12em;
    float: left; 
    margin: 0 auto;
    margin-left: 2em;
    
}

.WeeklySpecial{
    width: 12em;
    float: left;
    margin: 0 auto;
    margin-left: 2em;
}

.NewArrivals{
    width: 12em;
    float: left;
    margin: 0 auto;
    margin-left: 2em;
}

.OnSale{
    width: 12em;
    float: left;
    margin: 0 auto;
    margin-left: 2em;
}

.ant-menu-submenu-title{
    margin-top: 0.4em;
}



.ant-menu-horizontal > .ant-menu-item:hover, 
.ant-menu-horizontal > .ant-menu-submenu:hover, 
.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-submenu-active,
.ant-menu-horizontal > .ant-menu-item-open,
.ant-menu-horizontal > .ant-menu-submenu-open,
.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-submenu-selected {
    border-bottom: 2px solid #FFFFFF;
}

// cart

.title{
    margin-left: -12em;
    font-size: larger;
    font-weight: bold;
}

.shopping-cart {
    margin: 0 auto;
    background: rgb(199, 199, 199);
    width: 30em;
    height: 40em;
    position: absolute;
    left: 90em;
    margin-top: 5em;
    border-radius: 10px;
    z-index: 100;

}
    
.shopping-cart-header {
    border-bottom: 3px solid #E8E8E8;
    margin-bottom: -1em;

}
      
.shopping-cart-total {
    border-top: 3px solid #E8E8E8;
    margin-top: 3em;
    margin-left: 10em;
    font-size: larger;    
}
    
.shopping-cart-items {

        .items{
           margin-top: 3em;
           margin-bottom: 1em;
        }
  
        li {
          margin-bottom: 18px;
        }
  
        img {
            float: left;
            margin-right: 12px;
        }
      
        .item-name {
            display: block;
            font-size: 16px;
        }
      
        .item-price {
            margin-right: 8px;
        }
      
}
  
.shopping-cart:after {
    bottom: 100%;
    left: 89%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
}

.details{
    margin: 0 auto;
    margin-top: 2em;
    width: 20em;

}

.checkout{
    margin: 0 auto;
    margin-top: 1em;
    width: 20em;
}